html {
  display: grid;
  place-content: center;
}

#board-border {
  display: grid;
  grid-template: 10px auto 10px / 10px auto 10px;
}

#board {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  width: 500px;
  height: 500px;
}

.cell {
  background-color: lightgreen;
}

.fruit {
  background-color: darkgreen;
}

.snake {
  background-color: red;
}

.snake-head {
  background-color: darkred;
}